<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.fugle">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f38f436c283edf2e94e26961d9139527"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- facebook popup -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- splash -->
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- splash -->


        <!-- 호경이의 액티비티입니당 -->


        <!-- 별점 주기용 -->
        <activity
            android:name=".rating.RatingActivity"
            android:label="@string/toolbar_rating"/>

        <!-- 추천 목록 -->


        <!-- 회원가입 -->
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/actionbar_name"
            android:theme="@style/TextLabel"/>

        <!-- 메인 -->
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme"/>

        <!-- 내 별점 보기 -->
        <activity android:name=".mystar.MyStarActivity"/>

        <!-- 상세 보기 -->
        <activity android:name=".detail.DetailActivity"/>

        <!-- 평가하기 액티비티에서 카테고리 고르기 -->
        <activity android:name=".rating.category.CategorySelectActivity"/>

        <!-- 검색 -->
        <activity android:name=".search.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!-- 코멘트 액티비티 -->
        <activity android:name=".comment.CommentActivity"/>

        <!-- 메인에서 웹툰 더보기 -->
        <activity android:name=".main.tab1.MoreWebtoonActivity"/>

        <!-- 랭킹 -->
        <activity android:name=".main.tab2.webtoon.WebtoonRankActivity"/>
        <activity android:name=".main.tab2.cartoon.CartoonRankActivity"/>
        <activity android:name=".main.tab2.author.AuthorRankActivity"/>
        <activity android:name=".main.tab2.author.AuthorContentActivity"/>

        <!-- 취향분석 -->
        <activity android:name=".preference.PreferenceAnalysisActivity"/>

        <!-- 튜토리얼 -->
        <activity android:name=".Intro.TutorialActivity"/>
        <!-- 보고싶어요 보기싫어요 목록 액티비티 -->
        <activity android:name=".main.tab4.LikeHateActivity"/>

        <!-- 추천리스트에서 태그 검색 액티비티 ㄴ -->
        <activity android:name=".main.tab3.TagActivity"/>

        <!-- 건의사항 -->
        <activity android:name=".suggestion.SuggestionActivity"/>
        <activity android:name=".Intro.MenualActivity">
        </activity>
    </application>

</manifest>